<!-- Add header + Navigation Menu w/ your name -->
      <div class="container">
      	<ul class="nav nav-tabs">
  			<li role="presentation" class="active"><a href="#">Carly Has Red Hair</a></li>
  			<li role="presentation"><a href="#">Blog</a></li>
  			<li role="presentation"><a href="#">About</a></li>
  			<li role="presentation"><a href="#">Contact</a></li>
  			<li role="presentation"><a href="#">Contact</a></li>
		</ul>
     

<!-- Add a main section w/ tagline summarizing what you do + a "View My Work" button-->
<!-- Change the background image of your section. Use your own image. -->

 <div class="jumbotron">
      <div class="container">  
        <div class="main">
          <h1>Hi. My name is Carly. </h1>
          <h2>I have red hair. I make websites.</h2>
              <a class="btn-main" href="#">View My Work</a>
        </div>
      </div>
    </div>

<!-- Add a footer section w/ links to your social media + github -->

	<div class="footer">
  	 <div class="container">

  	 	<div class="row">
  	 		<div class="col-xs-5 col-md-5">
  	 		  <ul>
  	 			 <li><a href="#">email</a></li>
  	 			 <li><a href="#">linkedin</a></li>
  	 			 <li><a href="#">twitter</a></li>
  	 			 <li><a href="#">github</a></li>
  	 		  </ul>
  	 		</div>
  	 		<div class="col-xs-3 col-xs-offset-9 col-md-3 col-md-offset-9">
  	 			<p>&copy; 2015</p>
  	 		</div>
  	 	</div>

  	 </div>
  	</div>